[Unit]
# To be symlinked to /etc/systemd/system/leddite.service
Description=leddite daemon
After=multi-user.target
[Service]
Type=simple
Restart=always
ExecStart="leddite serve --port 80 --screen_type=physical"
[Install]
WantedBy=multi-user.target
