[Unit]
# To be symlinked to /etc/systemd/system/leddite.service
Description=leddite daemon
After=multi-user.target
[Service]
Type=simple
Restart=always
ExecStart="/home/pi/leddite/hw_setup/start.sh"
[Install]
WantedBy=multi-user.target
